@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">The Neworbit Ltd steps league table.</p>
</div>

<div class="row">
    <table class="table table-bordered table-striped sortable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Steps Today</th>
                <th>7 Day Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" data-placement="top">@row.Name</td>
                    <td>@row.StepsToday</td>
                    <td>@row.StepsWeek</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
<script type="text/javascript">
    $(function () {
        $('body').popover({
            selector: '[data-toggle="popover"]'
        });

        $('body').tooltip({
            selector: 'a[rel="tooltip"], [data-toggle="tooltip"]'
        });
    });
</script>
}