@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">The Neworbit Ltd steps league table.</p>
</div>

<div class="row">
    <table class="table table-bordered table-striped tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Steps Today</th>
                <th>7 Day Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.Name</td>
                    <td>@row.StepsToday</td>
                    <td>@row.StepsWeek</td>
                </tr>
            }

        </tbody>
    </table>
</div>
